    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body{
        font-style:"popins", sans-serif;
    }

    a{
        text-decoration: none;
    
    }

    li{
        list-style: none;
    }

    h3{
        font-size: 40px;

    }

    html{
        scroll-behavior: smooth;
    }

    .offset:before{
        display:block;
        content:"";
        height:10rem;
        margin-top:-2rem;
    }

    /*navbar*/

    
    nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem 6rem;
        width:100%;
        transition: all 0.5s ease;
        background:white;
        position: fixed;
        height: 80px;
        z-index: 1000;
        box-shadow: 0px 5px 5px #888;
    }
    


    .logo{
        
        max-height:70x;
        max-width:70px;
    
    }

    .logo img{
        width:100%;
        margin-left: -70px;
    }

    .nav-toogler{
        display: none;
    }


    nav .nav-toogler .toggler-icon{
        width:27px;
        height:3px;
        background-color: #121212;
        position: relative;
        margin:5px 0;
        display: block;
        transition:all 0.3s ease-out 0s;
    }

    .navbar-links{
        margin-right: 30px;
    }

    .navbar-links ul{
        
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links ul li{
        padding:0 3rem;
    }



    nav  a{
        color: black;
        margin:18px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;

    }

    nav  a:hover{
        color:#4f47E4;
    }

    /*HOME*/


    .back{
    background-image: url("cover1.jpg");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    }

    .overlay{
        background-image: linear-gradient(rgba(232,237,255,0.9),rgba(239,254,255,0.9)20%, rgba(254,255,254,0.3)70%, rgba(255,255,255,0.12));
        width:100%;
        height:100%;
    }

    .main-content{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .main-content h3{
        font-size:38px;
        font-weight: 600;
        font-family:"popins", sans-serif;

    }

    .main-content h6{
        color:#1d1d1d;
        font-size: 20px;
        font-weight: 500;
        margin-top:1.5rem;
    }

    .main-btn{
        margin-top:22px;
    }

    .home-btn{
        display:inline-block;
        font-weight: 700;
        text-align: center;
        border:2px solid transparent;
        white-space: nowrap;
        vertical-align: middle;
        padding:0 32px;
        font-size:16px;
        line-height: 48px;
        color: #0067f4;
        cursor:pointer;
        transition: all 0.4s ease-out 0s;
    }

    .main-btn li{
        display:inline-block;
        margin:10px 10px 0  0;

    }

    .home-btn{
        border-radius: 50px;
        overflow:hidden;
        background-color: #fff;
        border:0;
        line-height:50px;
        box-shadow: 0 3px 6px 0 rgba(13, 91, 91, 0.16);
    }

    
    .btn-two:hover{
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.15);
    }

    /*ABOUT*/


    .about {
        margin-left: auto;
    margin-right: auto;
    margin-top:3rem;
    
    }

    .sub-heading{
        text-align: center;
        margin-bottom:5rem;
        font-weight: 600;
    }

    .about p{
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom:10px;
        color:#7f8c8d;
        padding:1rem 5rem;
        font-family: "popins", sans-serif;
        text-align: center;
    }




    hr {
        margin-left: auto;
        margin-right: auto;
        margin-top:40px;
        width: 60%;
        border: 0.5px solid rgb(187, 78, 78);

    }

    /*PRICING*/


    .pricing{
        margin-top:5rem;
        display:block;
        text-align: center;
    }

    .table{
        margin-top:10rem;
        margin-left:5rem;
        margin-right:5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pricing .basic{
        width:355px;
        height:100%;
        border:1px solid #535CF1;
        border-radius:20px;
    }

    .standard h3{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color:#fff;
    }

    .pricing .basic h3{
        text-align:center;
        font-weight: 300;
        padding:40px 0;
        background-color: #ecf0f1;
        transition: all ease 0.6s;
        border-top-right-radius:20px;
        border-top-left-radius:20px;
        clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
    }

    .pricing .basic h3:hover{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color:#fff;

    }

    .price{
        text-align: center;
        padding:20px 0;
    }

    .sign{
        font-size: 28px;
        font-weight:400;
        vertical-align: middle;
    }

    .currency{
        font-size:60px;
        font-weight: 300;
        vertical-align: middle;
        line-height: 60px;
        letter-spacing: -2px;
    }

    .cent{
        font-size:24px;
        font-weight:400;
        vertical-align:bottom;
    }

    .month{
        font-size: 18px;
        font-weight: 400;
        vertical-align: bottom;
        letter-spacing: 3px;
    }


    .pricing .basic ul li{

        border-top:1px solid #ccc;
        padding:18px 1px 18px 50px ;
        border-bottom: 1px solid #ccc;
        color:#7f8c8d;
        text-align:start ;
    
    }

    .pricing .basic ul li i{
        padding-right: 5px;
        color:#535CF1;

    }

    .pricing .main-btn{
        margin:2rem auto;
        width:170px;
    }


    .pricing .main-btn a{
        font-size:18px;
        border-radius: 50px;
        border:1px solid #2ecc71;
        color:#1d1d1d;
        
    }

    .pricing .standard .main-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color:#fff;
        border:1px solid #2ecc71;

    }

    .pricing .basic:hover .main-btn a{
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        color:#fff;
        border:1px solid #2ecc71;

    }

    /*CONTACT*/

    .callToAct{
        margin-top:10rem;
        background-image:linear-gradient(to right, rgba(255,0,0,0), #910AFA), url(para1.jpg);
        min-height:500px;
        background-attachment: fixed;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        position:relative;

    }

    .parallax{
        display:block;
        position: absolute;
        top:30%;
        left:50%;
        transform:translate(-50%,50%);
        text-align:center;

    }

    .parallax h3 , .parallax p{
        color:#fff;
    }

    .parallax p{
        font-size: 18px;
        padding:20px 0;
    }

    .call-news{
        
        background-color:#fff;
        min-width:450px;
        margin-top:20px;
        margin-left: 70px;
        border-radius:50px;
        padding:12px 0 12px 15px;
        position:absolute;

    }

    .call-news i{
        color:#535CF1;
        padding-right: 10px;
        font-size:18px;
    }

    .call-news input{

        border:none;
        font-size: 18px;

    }

    .call-news button{
        font-size:16px;
        background-image: linear-gradient(to right, #535CF1, #A147E4);
        border: none;
        color:#fff;
        padding:20px 16px;
        border-radius: 50px;
        margin-left:20px;


    }

    .contact{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:10rem;
    }

    .about h3, .pricing h3 , .contact h3{
        font-weight: 400;
        margin-bottom: 2rem;;
    }

    .form{
        width:70%;
    }

    .first-row{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:25px 0;
    }

    .first-row input{
        width:47%;
        height:56px;
        padding:0 25px;
        font-size: 16px;
        border:1px solid #cbced1;
        border-radius:5px;
        outline:none;
    }

    textarea{
        width:100%;
        resize: none;
        padding:0 25px;
        font-size: 16px;
        border:1px solid #cbced1;
        border-radius:5px;
        outline:none;
        padding-top:15px;
        font-family: "popins", sans-serif;

    }

    .form .main-btn{
        margin:2rem auto;
        width:170px;
    }

    .contact .form .main-btn a{
    
    background-image: linear-gradient(to right, #535CF1, #A147E4);
    color:#fff;
    border:none;
    font-size: 18px;
    outline:none;
    font-weight: normal;
    border-radius: 0;
    font-family:sans-serif;

    }

    /*FOOTER*/


    footer{
        background-color:#F4F6F7;
        padding:7rem;
    }

    .row-one{
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
    }

    footer .row-one ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .row-one a{
        color:#6c6c6c;
        padding-right:20px;
        font-size: 26px;

    }


    .second-row{
        margin-top:5rem;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    

    }

    footer .second-row h6{
        font-size:14px;
        font-size:700;
        line-height:18px;
        color:#6c6c6c;
        padding-bottom:20px;
    }

    footer .second-row li a{
        font-size:16px;
        line-height:24px;
        font-weight:500;
        color:#121212;
        text-decoration: none;
    }

    footer .second-row li{
        padding-bottom:20px;
    }

    .footer-first-row:nth-child(4){
        max-width:300px;
    }


    .newsletter input{
        width:100%;
        height:44px;
        border-radius:50px;
        padding:0 24px;
        border:0;
        outline:none;
        background-color: rgba(33,33,33,012);
        font-weight:500;
        color:white;
    }

    .newsletter button{
        
        position: absolute;
        width:44px;
        height:44px;
        border-radius:50px;
        border:0;
        color:#121212;
        background-color: none;
        cursor:pointer;
        outline: none;

    }

    .newsletter p{
        margin-top:15px;
    }

    .copyright{
        background-color: #2b354f;
        padding:23px 0;
    }

    .copyright p{
        text-align:center;
        color:white;
    }


/*MEDIA QUERY*/

@media only screen and (max-width:946px){
    nav{
        padding:1rem .5rem;
    }
    .logo{
        
        min-height:50x;
        min-width:50px;
    
    }
    
    .main-content h3{
    font-weight: 700;
    }


    .main-content h6{
        font-size: 28px;
        font-weight: 700;
        margin-top:1.5rem;
    }

    .logo img {
        width: 100%;
        margin-left:0;
        
    }


    .pricing{
        margin-top:5rem;
        display:block;
        text-align: center;
    }

    .table{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .pricing .basic{
        margin-bottom: 3rem;
    }

    .callToAct{
        margin-bottom: 3rem;

    }

    .parallax{
    width:80%;

    }

    .form{
        width:80%;
    }
}



@media only screen and (max-width:774px){

    nav{
     padding:0.7rem 1rem;
     
    }
    
    .main-content h3{
        font-weight: 700;
        
    }
    
    
        .main-content h6{
            font-size: 24px;
            font-weight: 600;
            margin-top:1.5rem;
        }
    .nav-toogler{
        display: block;
        position: absolute;
        top:26px;
        right:16px;
        z-index:1000;
    
        
    
    }
    
    nav .nav-toogler .toggler-icon{
        width:27px;
        height:3px;
        background-color: #121212;
        position: relative;
        margin:5px 0;
        display: block;
        transition:all 0.3s ease-out 0s;
    
    }

    .navbar-links{
        width:100%;
        display: none;
       
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
        box-shadow: none;
        outline: none;
        border: none;
        
    }


    .navbar-links ul{
        flex-direction: column;
        width:100%;
    }


    .navbar-links li{
        text-align: center;
        margin:.5rem;
   
    }

    
    .navbar-links.active{
        display:flex;
        left:0;
        width:100%;
        transition: all 0.5s ease;
        background:white;
        position: fixed;
        margin-top: 65px;
        z-index: 10000;
        box-shadow: 0px 5px 5px #888;

    }
    .navbar-links:hover{
        color:#4f47E4;
    }


    .logo img {
        width: 100%;
        margin-left:0;
        margin-top:-22px;
    }

    .parallax {
            width: 90%;
        }

    .parallax {
            display: block;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%,50%);
            text-align: center;
        }

  
    footer{
        background-color:#F4F6F7;
        padding:2rem 3rem;
    }

    .footer-title{
        margin-top:.5rem;
    }
  
    footer .second-row{
        flex-wrap: wrap;
    }

    footer .second-row .first-row{
        margin-bottom:1rem;
    }


 
}


@media only screen and (max-width:541px){

    .main-content h3{
        font-size: 28px;

    }
    .main-content h6{
        font-size: 18px;
        font-weight: 500;
        
    }

   .home-btn{
       margin-top: 1rem;

   }

   .call-title{
       font-size: 35px;
   }

   .call-content p{
       font-size: 20px;
   }
  
   .call-news{
       
       margin-left: -15px;
       margin-right: 10px;
   }

   .call-news button{
       padding-top:12px;
       padding-bottom: 12px;
   }
    
   footer{
        background-color:#F4F6F7;
        padding:2rem 1rem;
    }
    
    .footer-title{
        margin-top:.5rem;
    }

    footer .second-row{
        flex-wrap: wrap;
    }
    footer .second-row .first-row{
        margin-bottom:1rem;
        
    }

    


}






